body {
  background: black;
}
#game-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.height-info {
  position: fixed;
  z-index: 10;
  bottom: 1rem;
  left: 1rem;
}

.fatigue-tooltip {
  position: fixed;
  width: 100%;
  margin: auto;
  text-align: center;
  z-index: 10;
  top: 3rem;
  color: red;
  font-size: 36px;
}

.q-tooltip, .w-tooltip, .o-tooltip, .p-tooltip {
  bottom: 3rem;
  color: green;
  font-size: 24px;
  margin: auto;
  position: fixed;
  width: 4%;
  z-index: 11;
}

.q-tooltip {
  left: 42%;
  text-align: right;
}

.w-tooltip {
  left: 46%;
  text-align: center;
}

.o-tooltip {
  left: 50%;
  text-align: center;
}

.p-tooltip {
  left: 54%;
  text-align: left;
}

.key-pressed {
  color: blue;
  font-weight: bold;
}
